body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}

#portfolio {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  background: #F7F2E6;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 0.3fr));
  grid-template-rows: 250px 250px 250px;
  grid-row-gap: 10px;
  -moz-column-gap: 5vh;
       column-gap: 5vh;

}



#oli-grid {
  margin-left: 50px;
  width: 65%;
  min-height: 40vh;
  background: #F7F2E6;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 0.4fr));
  grid-template-rows: 250px 250px;
  grid-row-gap: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

#surreal-grid {
  padding: 10px;
  width: 63%;
  min-height: 40vh;
  background: #F7F2E6;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 220px);
  justify-content: space-evenly;
  align-content: space-evenly;
  z-index: 1 !important;
  grid-row-gap: 10px;
  -moz-column-gap: 5vh;
       column-gap: 5vh;
}

#procreate-grid {
  padding: 10px;
  width: 73%;
  min-height: 40vh;
  background: #F7F2E6;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(6, 250px);
  grid-row-gap: 10px;
  -moz-column-gap: 5vh;
       column-gap: 5vh;
}

#multi-grid {
  width: 60%;
  min-height: 40vh;
  background: #F7F2E6;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 220px);
  grid-row-gap: 20px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

#nineteen-grid {
  width: 63%;
  min-height: 40vh;
  background: #F7F2E6;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(6, 250px);
  grid-row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

#fifteen-grid {
  width: 80%;
  min-height: 40vh;
  background: #F7F2E6;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(5, 250px);
  grid-row-gap: 20px;
  -moz-column-gap: 5vh;
       column-gap: 5vh;
}

.thumbnail {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.thumbnail img {
  font-size: 0;
  justify-content: center;
  overflow: hidden;
  padding: 0;
}
.thumbnail p {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 3;
}
.thumbnail .grid__title {
  position: absolute;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  bottom: 0;
  font-weight: 100;
  font-size: 0.8em;
  z-index: 3;
  text-transform: uppercase;
  color: #474545;
  letter-spacing: 2px;
}
.thumbnail .standard {
  width: 250px;
  height: 250px;
}

.thumbnail:hover .grid__overlay {
  transform: translateY(0%);
}

.grid__overlay {
  background: rgba(229, 182, 177, 0.9);
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transform: translateY(101%);
  transition: all 0.3s ease-in-out;
}
.grid__overlay button {
  background: none;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px;
}
.grid__overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  color: #D1A39E;
  transform: scale(1.05);
}

.overlay {
  position: fixed;
  background: rgba(71, 69, 69, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4 !important;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: visible;
}

.overlay__inner {
  background: #ffffff;
  padding: 20px;
  margin-top: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 4 !important;
}

.close {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  outline: 0;
  color: #474545;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.close:hover {
  color: #D1A39E;
}

.thumbnail__image {
  height: 100% !important;
  width: 100% !important;
}

.arrow-right {
  position: absolute;
  height: 150px;
  width: 100px;
  margin: 30px;
  z-index: 50;
  left: 100%;
}

.arrow-right:hover {
  cursor: pointer;
}

.arrow-left {
  position: absolute;
  height: 150px;
  width: 100px;
  margin: 30px;
  z-index: 50 !important;
  right: 100%;
}

.arrow-left:hover {
  cursor: pointer;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65vh;
  min-width: 100px;
  z-index: 4 !important;
}

.img-with-caption {
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expanded-img {
  height: 100%;
  width: 100%;
}

.hide {
  z-index: -50 !important;
}

.procreate-top {
  height: 170px !important;
  width: 800px !important;
  margin: 0px 20px 20px 20px;
}

.print {
  height: 150px;
  width: 115px;
  margin: 10px;
}

.denotative-main-img {
  width: 100%;
}

.image-making-main {
  margin: 30px 20px 0px 50px;
  max-width: 300px;
  max-height: 400px;
}

.image-main-img {
  width: 100%;
}

.studio-top {
  margin: 10px 20px 10px 0px;
  max-width: 230px;
}

.studio {
  width: 215;
  margin: 10px 20px 10px 0px;
}

.stuff {
  display: flex;
  justify-content: start;
}/*# sourceMappingURL=gallery-style.css.map */
