*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body{
  background: #FFFDF9;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFFDF9;
  padding: 1%;
  transition: .3s;
  box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
}
.work-nav:hover {
  color: #EBA937;
}
.everyday-nav:hover {
  color: #ABCDA2;
}
.about-nav:hover {
  color: #8CA9E1;
}
.play-nav:hover {
  color: #BD295F;
}

.resume-nav:hover {
  color: #C77492;
}

.logo img{
  max-width: 100%;
  width:40px;
  height: auto;
  margin-left: 50px;
}

.navbar {
  display: flex;
}
.navbar li{
  position: relative;
}
.navbar a{
  font-size: 25px;
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 18.8px;
  color: #FFFDF9;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  letter-spacing: .1rem;
  font-family: 'Poppins', sans-serif;
}
.navbar a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #EBA937;
  bottom: -3px;
  left: 0;
  transition: ease .40s;
}

.navbar .play-nav::after{
  background: #BD295F;
}

.navbar .about-nav::after{
  background: #8CA9E1;
}

.navbar .everyday-nav::after{
  background: #ABCDA2;
}

.navbar .resume-nav::after{
  background: #C77492;
}

.resume-nav:hover {
  color: #C77492;
}
.navbar a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #BA9369;
  bottom: -3px;
  left: 0;
  transition: ease .40s;
}

.navbar a:hover::after{
  width: 100%;
}

#menu-icon{
  font-size: 35px;
  color: var(--text-color);
  z-index: 1001;
  cursor: pointer;
  display: none;
}

#home-nav {
  top: -500px; /* Hide the navbar 50 px outside of the top view */
}

#home-nav ul li .work-nav {
  color: #EBA937;
}

#work-nav ul li .work-nav {
  color: #EBA937;
}

#play-nav ul li .play-nav {
  color: #BD295F;
}
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  line-height: 45px;
  background-color: #FFFDF9;
}
.footer-chat {
  font-size: 22px;
  font-weight: 500;
  color: #C77492;
  font-family: "Poppins", sans-serif;
}
.footer-name {
  font-size: 17px;
  font-weight: 300;
  color: #D6D0C3;
  font-family: "Poppins", sans-serif;
}



/* Case study styles */
.top-title {
  display: flex;
}

#img-col {
  width:60%;
}

#text-col {
  width:40%;
}

#title-img {
  width:100%;
}

#title {
  padding-top: 50px;
  font-family: "Taviraj", serif;
  font-size: 100px;
  font-weight: 500;
  color: white;
  line-height: 1.2;
}

#subtitle {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  color: white;
  line-height: 1.2;
  padding-top: 25px;
}

.identity {
  display: flex;
  vertical-align: middle;
}

.fiona-sticker {
  min-width: 50px;
  width: 50px;
  height: 75px;
}

.info-column .contribution {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 300;
}

.header {
  display: flex;
}

.header .hsub {
  font-size: 10px;
  margin-top: 30px;
  color: #505050;
}
.case-study h1 {
  padding-bottom: 10px;
  font-family: Taviraj;
  font-size: 50px;
  color: #505050;
  text-align: left;
}

.case-study h3 {
  padding-bottom: 15px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  color: #938D8D;
  text-align: center;
}

.case-study h4 {
  padding-bottom: 15px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-align: left;
}

.case-study h4 b {
  color: #C41200;
}

.case-study b {
  font-weight: 500;
}
.case-study p {
  font-family: Poppins;
  color: #505050;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 50px;
  text-align: left;
}

#names {
  font-size: 12px;
}

.case-study h2 {
  font-family: "Taviraj", serif;
  color: #505050;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 15px;
  text-align: left;
}

.case-study h5 {
  font-family: Poppins;
  color: #938D8D;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 40px;
}

.case-study a {
  font-weight: 500;
  text-decoration: underline;
  color: #558CF6;
}
.case-study a:visited {
  font-weight: 500;
  text-decoration: underline;
  color: #558CF6;
}

.info {
  display: flex;
  padding-top: 50px;
  font-family: "Taviraj", serif;
}
.info-column {
  min-width: 33%;
  text-align: center;
  font-family: "Taviraj", serif;
  padding: 20px;
}

.info-h2 {
  font-size: 40px;
  color: white;
  font-weight: 400;
  font-family: "Taviraj", serif;
}

.info-column p {
  font-size: 20px;
  font-weight: 300;
  font-family: Poppins;
}

.case-study {
  padding: 60px;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: center;
  text-align: center;
}

.premise {
  display: flex;
}

.premise-text {
  padding-right: 3%;
}

.premise-img {
  padding-left: 3%;
}

.premise-img img {
  max-height: 400px;
  width: auto;
  margin-top: auto;
}
.research h3 {
  color: black;
  font-size: 25px;
  text-align: left;
}

.trends h4 {
  color: #505050;
  font-size: 20px;
  text-align: left;
  font-weight: 300;
  margin-left: 40px;
}

.trends h4 b {
  color: #505050;
  font-size: 20px;
  text-align: left;
}

.trends #second {
  color: #505050;
  font-size: 20px;
  text-align: right;
}

.research {
  width: 85%;
  margin-bottom: 40px;
}

.research img {
  max-width: 75%;
  padding-left: 20px;
  padding-bottom: 20px;
}
.research-row {
  display: flex;
  padding-bottom: 50px;
}
.research-text {
  width: 25%;
}
.trends-text {
  padding-top: 30px;
}

.problem {
  max-width: 100%;
}
#obs {
  max-width: 80%;
}

#green {
  color: #ACB675;
}

#pink {
  color: #E290B8;
}

.persona {
  max-width: 90%;
  padding-bottom: 40px;
  padding-top: 10px;
}

.sketch {
  max-width: 80%;
  padding-bottom: 25px;
}
.dash {
  max-height: 700px;
  width: auto;
  padding-bottom: 25px;
}
#testing {
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: #505050;
}
#testing li {
  list-style-type: circle;
}

.analysis {
  text-align: right;
  padding-right: 40px;
}
#changes {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #FCA600;
  opacity: 70%;
  font-weight: 400;
  text-align: right;
}

.changes-row {
  display: flex;
  margin-bottom: 30px;
  align-items: center
}
.changes-row img {
  max-width: 110%;
  text-align: right;
}

.change-image {
  text-align: right;
  align-content: flex-end;
}
.user {
  margin-right: 12%
}



.frame {
  max-height: 400px;
  width: auto;
  padding-bottom: 25px;
}

.frames {
  text-align: left;
}

.final-div {
  display: flex;
  vertical-align: top;
  margin-bottom: 40px;
}
.final-div h4 {
  text-align: left;
  font-size: 40px;
  writing-mode: vertical-lr;
  transform: scale(-1, -1);
  margin-left: 17%;
  margin-top: 30px;
  color: #B5B5B5;
  font-weight: 600;

}


.figma {
  margin-bottom: 40px;
}

.final-img {
  text-align: left;
}

.final-img img {
  padding-bottom: 25px;
}

.proto .proto-p {
  color: #B5B5B5;
  font-size: 40px;
  font-weight: 600;
}

.style-row {
  display: flex;
  max-width: 80%;
}

.style img {
  max-width: 100%;
}

.style-row img {
  max-width: 400px;
  padding: 30px;
}

.demo img {
  max-width: 500px;
}

.testing {
  max-width: 80%;
}

.pain {
  max-width: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
}



.container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: 800px;
            height: 600px;
        }
        /* ----- end of container stylings ----- */

        /* provides padding to main heading */
.main-heading {
    padding: 2rem 0 2rem 0;
}

.content {
    position: relative;
}

/* ----- carousel content stylings ----- */
/* places the carousel content on center of the carousel */
.carousel-content {
    position: absolute;
    /*to center the content horizontally and vertically*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 50;
}
.carousel-heading {
    font-size: 3rem;
    color: #308d46;
    margin-bottom: 1rem;
}
/*----- end of carousel content stylings ----- */

/* ----- slideshow stylings ----- */
.slideshow {
    height: 100%;
    overflow: hidden; /* to hide slides in x-direction */
    position: relative;
}
/* wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
    display: flex;
    /* We give it width as 400% because we are making a
       4 image carousel. If you want to make for example,
       5 images carousel, then give width as 500%. */
    width: 300%;
    height: 100%;
    position: relative;
    /* you can change the animation settings from below */
    animation: slideshow 20s infinite;
 }
/* define width and height for images*/
.slide {
    width: 100%;
    height: 100%;
}
.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* @keyframes are used to provide animations
   We make these settings for 4 image carousel.
   Make modification according to your needs. */
@keyframes slideshow {
    0%  { left: 0; }
    10% { left: 0; }
    15% { left: 0; }
    25% { left: 0; }
    30% { left: 0; }
    40% { left: -100%; }
    45% { left: -100%; }
    55% { left: -100%; }
    60% { left: -100%; }
    70% { left: -200%; }
    75% { left: -200%; }
    85% { left: -200%; }
    90% { left: -200%; }
    95% { left: 0; }
}
/* ----- end of slideshow stylings ----- */

/* ----- carousel control buttons stylings ----- */
.slide-btn {
    background-color: red;
    border-radius: 50%;
    border: .2rem solid #d38800;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    cursor: pointer;
    /* stylings for positioning the buttons at
       the bottom of the carousel */
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 70;
}
/* As we provide position as absolute,
the buttons places one over the other.
So, we have to place them individually
at their correct positions. */
.slide-btn-1 {
    left: 45%;
}
.slide-btn-2 {
    left: 50%;
}
.slide-btn-3 {
    left: 55%;
}
/* When we focus on the particular button,
the animation stops to that particular image
to which the button is associated. */
.slide-btn-1:focus~.slideshow-wrapper {
    animation: none;
    left: 0;
}
.slide-btn-2:focus~.slideshow-wrapper {
    animation: none;
    left: -100%;
}
.slide-btn-3:focus~.slideshow-wrapper {
    animation: none;
    left: -200%;
}
/* when we focus on the button, the background color changes */
.slide-btn:focus {
    background-color: #FFCA64;
}
