*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;

}

:root{
  --bg-color: #F6F2E6;
  --text-color: #C77492;
  --second-color: #a09dab;
  --main-color: #f75023;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1rem;
}

body{
  background: var(--bg-color);
  color: var(--text-color);

}

header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #F6F2E6;
  padding: 1%;
  transition: .3s;
  box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
}
.work-nav:hover {
  color: #EBA937;
}
.everyday-nav:hover {
  color: #ABCDA2;
}
.about-nav:hover {
  color: #8CA9E1;
}
.play-nav:hover {
  color: #BD295F;
}

.logo img{
  max-width: 100%;
  width:40px;
  height: auto;
}

.navbar {
  display: flex;
}
.navbar li{
  position: relative;
}
.navbar a{
  font-size: 33px;
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 27px;
  color: #F6F2E6;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  letter-spacing: .1rem;
}
.navbar a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #BA9369;
  bottom: -3px;
  left: 0;
  transition: ease .40s;
}

.navbar a:hover::after{
  width: 100%;
}

#menu-icon{
  font-size: 35px;
  color: var(--text-color);
  z-index: 1001;
  cursor: pointer;
  display: none;
}

#home-nav {
  top: -500px; /* Hide the navbar 50 px outside of the top view */
}

#home-nav ul li .work-nav {
  color: #EBA937;
}

footer {
  padding-bottom: 50px;
  text-align: center;
  line-height: 45px;
  background-color: #FFFDF9;
}
.footer-chat {
  font-size: 22px;
  font-weight: 500;
}
.footer-name {
  font-size: 17px;
  font-weight: 300;
  color: #D6D0C3;
}
.home-text {
  margin: auto;
  width:50%;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
.home-text h1{
  margin: 20px 0px 0px 20px;
  font-size: 35px;
  line-height: 1;
  font-weight: 500;
}
.home-text h5{
  margin: 15px 0px 25px 24px;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #CFC9B7;
}
.home-text h3{
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.5;
}
.home-text h4{
  margin: 0px 0px 0px 20px;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.5;
}
.image{
  margin:auto;
  width:50%;
  max-width: 500px;
  position: relative;
  display: block;
  padding-bottom: 40px;
}
#work {
  fill: #D9AF6E;
}
#work:hover {
  fill: #EBA937;
}
#play {
  fill: #D1828A;
}
#play:hover {
  fill: #BD295F;
}
#about {
  fill: #B6BDCE;
}
#about:hover {
  fill: #8CA9E1;
}
#everyday {
  fill: #BDC39C;
}
#everyday:hover {
  fill: #AEBC67;
}

.work-scroll {
  margin: auto;
  width: 50%;
  padding-bottom: 75px;
}
#work-scroll-text {
  text-align: center;
  font-size: 25px;
}

.ui-top {
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.vis-top {
  width:80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.exp-section {
  background-color: #FFFDF9;
  transition: .5s background-color;
  padding-top: 200px;
  padding-bottom: 50px;
  vertical-align: middle;
}
#exp-section>div  {
  display:none;
}
#exp-section>div.active {
  display:block;
}
#experience {
  background-color: #F7F2E6;
  width:80%;
  margin:auto;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 55px;
  grid-row-gap: 100px;
  border-radius: 0px 0px 40px 40px;
  border-top: none;
}
.experience-company {
  font-size: 35px;
  color: #505050;
  font-weight: 400;
  width: 50%;
}
.experience-subheading {
  font-size: 20px;
  font-weight: 100;
  color: #878787;
  width: 50%;
}
.experience-description {
  font-size: 25px;
  font-weight: 200;
  color: #878787;
  width: 50%;
  padding-bottom: 25px;
}

.wordrive {
  display: flex;
}

.wordrive-img {
  flex: 50%;
  text-align: center;
  padding-left: 14%;
}
.wordrive-text {
  flex: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.uiexp1 {
  width: 80%;
  min-width: 250px;
  height: auto;
  margin: auto;

}
.wordrive-button {
  background-color: #D4CBF7;
  color: white;
  padding: 5px 32px;
  border: none;
  border-radius: 10px;
  max-width: 150px;
}
.zoom {
  display: flex;
  align-items: center;
}

.zoom-img {
  flex: 50%;
  text-align: center;
}
.zoom-text {
  flex: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.uiexp2 {
  width: 90%;
  min-width: 250px;
  height: auto;
  margin: auto;

}
.zoom-button {
  background-color: #D4CBF7;
  color: white;
  padding: 5px 3px;
  border: none;
  border-radius: 10px;
  max-width: 150px;
}

.dormit-img {
  flex: 50%;
  text-align: center;
  padding-left: 14%;
}
.visexp1 {
  width: 80%;
  min-width: 250px;
  height: auto;
  margin: auto;

}
#highlight {
  color: #BA9369;
}
.everyday{
  color: white;
  background-color: #A97D4C;
}
.designer{
  color: #A97D4C;
  background-color: white;
}

.home-buttons {
  height: 50%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 40% 25%;
  grid-template-rows: 100% 25%;
  align-content: left;
}

#hello{
  float: left;
  margin-right: 50px;
  max-width: 100%;
  width:250px;
  height: auto;
}

.about-text h3{
  font-size: 40px;
  font-weight: 600;
}
.about-text p{
  font-size: 23px;
  color: black;
  font-weight: 300;
}
.about-text b{
  font-weight: 500;
}
.green-highlight {
  background-color: #E1E2C4;
  color: black;
}


.work-text {
  font-size: 85px;
  fill: tan;
  font-weight: 700;
  letter-spacing: 6px;
}
.play-text {
  font-size: 85px;
  fill: #D08085;
  font-weight: 700;
  letter-spacing: 6px;
}
.about-text {
  font-size: 85px;
  fill: #D08085;
  font-weight: 700;
  letter-spacing: 6px;
}

.about {
  position: absolute;
  padding-top: 140px;
  width: 100%;
}

#folder {
  width: 100%;
  height: auto;
}

.about .ui_ux {
  position: absolute;
  top: 12.5%;
  left: 26%;
  background-color: Transparent;
  color: #505050;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 12px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

/* Play Page Styles */
#play {
  background-color: #FFFDF9;
}
.play-nav {
  text-align: center;
  padding-top: 250px;
  width: 100%;
  margin-bottom: 75px;
}
.play-nav-text {
  font-size: 27px;
  font-weight: 400;
  color: #C0C0C0;
}
span.active{
  color: #505050;
}

.play-display {
  background-color: #F7F2E6;
  width: 85%;
  min-width: 1080px;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.investigation {
  display: flex;
  flex-shrink: 0;
  padding: 0 4px 4px 4px;
}
.img-div {
  display: flex;
  width: 250px;
  height: 250px;
  justify-content: center;
  overflow: hidden;
}
.investigation-img{
  min-height: 50px;
  min-width: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  object-fit: cover;
}

#investigation-text p{
  font: Poppins;
  font-size: 65px;
  font-weight: 100;
  color: #878787;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  overflow: hidden;
  padding-top: 150px;
  padding-left: 75px;
}

#investigation-text b{
  font: Poppins;
  font-size: 65px;
  font-weight: 400;
  color: #878787;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  overflow: hidden;
  padding-top: 200px;
  padding-left: 75px;
}
.investigation-column {
  flex: 25%;
}

.oli {
  display: flex;
  flex-shrink: 0;
  padding: 0 4px 4px 4px;
}

.oli-column {
  flex: 25%;
}

.oli-img{
  min-height: 50px;
  min-width: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  object-fit: cover;
}

#oli-text p{
  font: Poppins;
  font-size: 175px;
  font-weight: 500;
  color: #878787;
}

.surreal {
  display: flex;
  flex-shrink: 0;
  padding: 0 4px 4px 4px;
}

.surreal-column {
  flex: 25%;
}

.surreal-img{
  min-height: 50px;
  min-width: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  object-fit: cover;
}

#surreal-text1 p{
  font: Poppins;
  font-size: 65px;
  font-weight: 500;
  color: #878787;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  overflow: hidden;
}

#surreal-text2 p{
  font: Poppins;
  font-size: 65px;
  font-weight: 500;
  color: #878787;
}

.procreate {
  display: flex;
  flex-shrink: 0;
  padding: 0 4px 4px 4px;
}
#procreate-top {
  max-width: 600px;
}
.procreate-column {
  flex: 25%;
}

.procreate-img{
  min-height: 50px;
  min-width: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  object-fit: cover;
}

#procreate-text p{
  font: Poppins;
  font-size: 65px;
  font-weight: 500;
  color: #878787;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  overflow: hidden;
}

.multimedia {
  display: flex;
  flex-shrink: 0;
  padding: 0 4px 4px 4px;
}

.multimedia-column {
  flex: 33%;
}

.multi-img{
  min-height: 50px;
  min-width: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  object-fit: cover;
}

#multi-text p{
  font: Poppins;
  font-size: 65px;
  font-weight: 500;
  color: #878787;
}

.nineteen {
  display: flex;
  justify-content: center;
}

.nineteen-column {
  width: 33%;
}

.fifteen {
  display: flex;
  justify-content: center;
}

.fifteen-column {
  width: 33%;
}

#vis41 p {
  font-size: 40px;
  color: #878787;
  font-weight: 300;
}

#vis41 b {
  font-size: 40px;
  color: #878787;
  font-weight: 500;
}

#vis41-title {
  padding: 15px;
  padding-left: 50px;
}

.connotative {
  display: flex;
  padding: 30px;
}

.connotative-column {
  padding: 10px;
}

.connotative-div {
  padding-bottom: 10px;
}

.connotative-div img{
  max-width: 100%
}
.connotative-row1 {
  display: flex;
  justify-content: center;
}

.connotative-row1 img {
  width: 45%;
  max-width: 160px;
  padding: 10px;
}

.denotative-top {
  display: flex;
  max-width: 100%;
}

#denotative-main {
  max-width: 400px;
  width:100%;
  padding-left: 50px;
  padding-right: 20px;
}

.denotative-main {
  justify-content: center;
  text-align: center;
  max-width: 50%;
}

.denotative .d-row1 {
  display: flex;
}

.denotative-top-rows img {
  width: 130px;
  padding: 10px;
  max-width: 100%;
}

.denotative-top-rows {
  padding-left: 30px;
}

.denotative-bottom img {
  width: 130px;
  padding: 10px;
  max-width: 100%;
}

.denotative-bottom {
  padding-left: 30px;
}

.denotative-top {
  display: flex;
  max-width: 100%;
}

.image-top {
  display: flex;
}

#image-making-main {
  max-width: 370px;
  width:100%;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 30px;
}

.image-making-main {
  justify-content: center;
  text-align: center;
  max-width: 50%;
}

.image-top-rows .i-row1 {
  display: flex;
}

.image-top-rows img {
  width: 130px;
  padding: 10px;
  max-width: 100%;
}

.image-top-rows {
  padding-left: 30px;
}

.image-bottom img {
  width: 130px;
  padding: 10px;
  max-width: 100%;
}

.i-row5 img {
  width: 175;
  padding: 10px;
  max-width: 100%;
}
.image-bottom {
  padding-left: 30px;
}

#vis80 p {
  font-size: 40px;
  color: #878787;
  font-weight: 300;
  padding-left: 30px;
}

#vis80 b {
  font-size: 40px;
  color: #878787;
  font-weight: 500;
}
